body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;  
}

#sidebar {
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  width: 190px;
  background-color: #222;
  overflow: auto;
  box-shadow: inset -5px 0 15px #000;
}

#content {
  position: absolute;
  left: 190px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #ddd;
  font: 50px sans-serif;
  margin: 0;
  padding: 0;
  text-shadow: #888 0 0 10px;
}

h2 {
  color: #333;
  font: 40px sans-serif;
  margin: 0 0 20px 0;  
  padding: 20px 0px 0px 20px;
  
  display: block;
  border-bottom: 1px solid #888;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0 0 8px 0;
  text-align: left;
}

.navigation li {
  display: block;
  background-color: #444;
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
  margin-top: -1px;
}

.navigation li a {
  color: #eee;
  padding: 10px;
  font: 16px sans-serif;
  text-decoration: none;
  display: block;
}

.navigation.small li a {
  padding: 5px;
  font: 16px sans-serif;  
}

.navigation li a.highlight {
  background-color: #448;
}

.navigation a:visited {
  color: #eee;
}

.navigation li:hover {
  color: #fff;
  background-color: #666;
}

.actionButtons {
  list-style: none;
  padding: 8px 0;
  margin: 0 8px 8px 8px;
}

.actionButtons a {
  text-align: center;
  background-color: #444;
  border-style: solid;
  border-color: #888;
  border-width: 0 1px 1px 1px;
  color: #eee;
  padding: 8px;
  font: 16px sans-serif;
  text-decoration: none;
  display: block;
}

.actionButtons li:last-child a {
  border-radius: 0 0 8px 8px;
}

.actionButtons li:first-child a {
  border-top-width: 1px;
  border-radius: 8px 8px 0 0;
}

.actionButtons a.highlight {
  background-color: #448;
}

.actionButtons a:visited {
  color: #eee;
}

.actionButtons a:hover {
  color: #fff;
  background-color: #666;
}

.actionButtons a.highlight:hover {
  background-color: #66a;
}

.menuNavigationButtons {
  list-style: none;
  text-align: left;
  padding: 0;
}

.menuNavigationButtons a {
  color: #eee;
  padding: 10px;
  font: 16px sans-serif;
  text-decoration: none;
  background-color: #444;
  border-style: solid;
  border-color: #666;
  border-width: 1px 1px 1px 0;
  border-radius: 0 4px 4px 0;
  display: inline-block;
}

.menuNavigationButtons a.highlight {
  background-color: #448;
}

.menuNavigationButtons a:visited {
  color: #eee;
}

.menuNavigationButtons a:hover {
  color: #fff;
  background-color: #888;
}


#gameSettings {
    height: 100%;
}

.centeredForm {
  max-width: 600px;
  margin: 64px;
  padding: 32px;
  background-color: #f5f5f5;
  display: inline-block;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.columnForm {
  min-height: 50%;
  border-right: 1px solid #ddd;
  width: 500px;
  float: left;
  padding: 8px;
  margin-right: 8px;
}

.centeredForm ul , .columnForm ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.centeredForm li, .columnForm li {
  margin-bottom: 8px;
  clear: both;
}

.centeredForm input, .columnForm input, .columnForm select {
  float: right;
}

#timeLimitInput input {
  float: none !important;
}
.centeredForm label, .columnForm label {
  font: 20px sans-serif;
  width: 50%;
  display: inline-block;
}

.centeredForm input[type=text], .centeredForm input[type=password], .columnForm input[type=text], .columnForm input[type=password] {
  width: 48%;
}

input[type=text], input[type=password] {
  display: inline-block;
  border: 1px solid #aaa;
  background-color: #f8f8f8;
}

.alignRight {
  text-align: right;
}

.bigTable {
  width: 100%;
  border-collapse: collapse;
  font: 20px sans-serif;
  text-align: center;
}

.bigTable td {
  
}

.bigTable td a {
  text-decoration:none; 
  display:block; 
  padding: 8px;
  height:100%;
  color: inherit;
}

.bigTable td a:visited {
  color: inherit;
}

.bigTable tbody tr:nth-child(even) {
  background-color: #ccc;
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
}

.bigTable tbody tr:nth-child(odd) {
  background-color: #ddd;
}

.bigTable thead tr {
  color: #222;
}

.bigTable tbody tr:hover {
  color: #444;
  background-color: #e8e8e8;
}


.mapContainer {
  width: 200;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 16px;
  background-color: #ddd;
  border-radius: 16px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
  overflow: hidden;
}

.mapContainer:hover {
  background-color: #e8e8e8;
  color: #111;
}

.mapContainer.selected {
  background-color: #aad;
}

.mapContainer .name {
  font: 16px sans-serif;
  margin: 4px 8px;
  text-align: center;
  font-weight: bold;
}

.mapContainer .info {
  font: 14px sans-serif;
  margin: 2px 4px;
  text-align: center;
}

#mapEditorView {
}

#mapEditorTools {
  text-align: center;
}

.player1 {
  background-color: rgba(214,61,56, 1.0) !important;
}

.player2 {
  background-color: rgba(56,67,214, 1.0) !important;
}

.player3 {
  background-color: rgba(217,213,43, 1.0) !important;
}

.player4 {
  background-color: rgba(99,173,208, 1.0) !important;
}

#playerSelection .selected {
  border: 2px solid #ddf;
}

#playerSelection .disabled {
  background-color: #333 !important;
  cursor: default;
}


.playerSelection, .paletteSelection, .button {
  background-color: #555;
  color: #eee;
  padding: 2px;
  display: inline-block;
  border: 1px solid #888;
  font: 16px sans-serif;  
  cursor: pointer;
}

.button {
  min-width: 24px;
  height: 24px;
  display: inline-block;
  text-align: center;
}

#import, #export {
  margin: 4px;
}

#importExportData {
  border: 1px solid #ccc;
  margin: auto;
  display: inline-block;
  background-color: #ddd;
}

.paletteSelection.selected, .playerSelection.selected {
  border: 2px solid #ddf;
}

.playerSelection {
  min-width: 16px;
  height: 16px;
  text-shadow: #333 0 0 3px;
}

#playerSelection, #paletteSelection {
  margin-bottom: 8px;
}

.paletteSelection {
  width: 60px;
}

#terrainPalette, #unitPalette {
  background-color: #333;
  padding: 4px 0;
}
#terrainTypePalette {
  margin-bottom: 16px;
}

#playerSelection {
  width: 100%;
}

#palette .sprite {
  margin: 2px;
  cursor: pointer;
}


#palette .sprite.selected {
  margin: 0px;
  border: 2px solid #ddf;
}

.toolForm {
  background-color: #444;
  color: #eee;
  padding: 4px;
}


.toolForm ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toolForm li {
  position: relative;
  min-height: 24px;
}
.toolForm .left {
  position: absolute;
  left: 0;
}

.toolForm .right {
  position: absolute;
  right: 0;
}

.toolForm input[type=text] {
  width: 50%;
  border: 1px solid #111;
  background-color: #ddd;
}

.smallInput {
  width: 50px !important;
}

.tinyInput {
  width: 25px !important;
}

.buttonTable {
  border-collapse: collapse;
  margin: auto;
  padding: 0;  
}

.buttonTable tr {
  margin: 0;
  padding: 0;  
}

.buttonTable td {
  margin: 0;
  padding: 0;  
}

.buttonTable button {
  width: 32px;
  height: 32px;
  font: 24px sans-serif;
  margin: 0;
  padding: 0;
  border: 1px solid #111;
  background-color: #ddd;
}

.buttonTable button:active {
  background-color: #eee;
}

.sidebarInfo {
  list-style: none;
  color: #eee;
  margin: 0;
  padding: 8px;
  font: 20px sans-serif;
}

.sidebarInfo li {
  margin: 2px;
  padding: 2px;
  display: block;
}

.mapTileStat {
  font: 32px sans-serif;
}

.mapTileStat img {
  vertical-align: middle;
  margin-right: 8px;
}


#players {
  list-style: none;
  color: #eee;
  margin: 0;
  padding: 8px 0;
  font: 16px sans-serif;
  background-color: #333;
}

#players li {
  padding: 8px 0 4px 8px;
  margin: 4px 0 4px 0;
  vertical-align: middle;
  display: block;
  height: 24px;
  border: 0;
}

#players li.inTurn{
  font-weight: bold;
  color: #eee;
  text-shadow: #777 0 0 8px;
  background-color: #444;
}

.playerNumber {
  border: 2px solid #444;
  margin-right: 8px;
  padding: 4px;
  font-weight: bold;
  text-shadow: #111 0 0 5px;
}

.playerName {
}

.selfIndicator {
  color: yellow;
  position: absolute;
  right: 8;
}

.playerItem {
  position: relative;
}

.joinButton {
  font: 14px sans-serif;
  padding: 2px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 6px;
  margin: auto;
}

.joinButton.notJoined {
  background-color: #6a6;
  width: 128px;
}

.joinButton.notJoined:hover {
  background-color: #7b7;
}

.joinButton.joined {
  border-radius: 4px;
  background-color: #a66;
}

.joinButton.joined:hover {
  border-radius: 4px;
  background-color: #b77;
}

#showHideMessageTicker {
  display: block;
  height: 12px;
  font: 10px sans-serif;
  color: #ccc !important;
  background-color: #777;
  text-decoration: none;
  text-align: center;
  opacity: 0.8;
  margin: 0;
  padding: 0;
}

#showHideMessageTicker:hover {
  color: #eee !important;
  background-color: #999;
}

#showHideMessageTicker:visited {
  color: inherit;
}

#messageTickerContainer {
  position: absolute;
  bottom: 0;
  left: 190px;
  right: 0;
  z-index: 5;
  display: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

#messageTicker {
  margin: 0;
  padding: 0;  
  overflow: auto;
  height: 146px;
}

#messageTicker.small {
  height: 48px;
}

#messageTicker li {
  list-style: none;
  margin: 0;
  padding: 0;
  font: 20px sans-serif;
  min-height: 48px;
  border-bottom: 1px solid #444;
}

#messageTicker span {
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  color: #eee;
  text-shadow: #111 0 0 5px;
}

#messageTicker .time {
  font: 15px sans-serif;
}

#chat {
  background-color: #ddd;
  margin: 0;
  box-shadow: 0px 0px 10px #666;
}

#chat.gameChat {
  display: none;
  position: absolute;
  top: 0;
  left: 190px;
  right: 0;
  z-index: 5;
}

#chatMessages {
  margin: 0;
  padding: 0 8px;
  background-color: #f8f8f8;
  height: 136px;
  overflow-y: scroll;
}

#chat.small #chatMessages {
  height: 18px;
}

#chatForm {
  margin: 0;
  display: block;
  height: 24px;
  text-align: center;
  position: relative;
}

#chat.small #chatForm {
  display: none;
}

#chatInput {
  display: inline-block;
  background-color: #f8f8f8;
  position: absolute;
  left: 0;
  right: 60px;
}

#chatSend {
  width: 60px;
  display: inline-block;
  position: absolute;
  right: 0;
}

#chatMessages .messageTime {
  display: inline-block;
  width: 3em;
}

#chatMessages .messageSender {
  margin-right: 1em;
}

#showHideChat {
  display: block;
  height: 12px;
  font: 10px sans-serif;
  color: #ccc !important;
  background-color: #777;
  text-decoration: none;
  text-align: center;
}

#showHideChat:hover {
  color: #eee !important;
  background-color: #999;
}

#showHideChat:visited {
  color: inherit;
}

#gameInfo {
  list-style:
}

#buildMenu, #actionMenu, #unloadMenu {
  background-color: transparent;
  position: absolute;
  display: none;
  overflow: auto;
  z-index: 10;
  opacity: 0.9;
}

.buildItem, .actionItem {
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.buildItem {
  width: 120px;
  height: 120px;
  border: 4px solid #555;
  background-color: #222;
}

.actionItem {
  width: 44px;
  height: 44px;  
}

.actionItem, .unloadItem {
  border: 2px solid #555;
  background-color: #eee;
}

.sprite {
  width: 48px;
  height: 48px;
  display: inline-block;
}

.buildItem.disabled {
  background-color: #111;
  border: 4px solid #444;
}

.buildItem:hover {
  background-color: #444;
  border: 4px solid #777;
  cursor: pointer;
}

.actionItem:hover, .unloadItem:hover {
  background-color: #fff;
  border: 2px solid #999;
  cursor: pointer;  
}

.buildItem.disabled:hover {
  background-color: #111;
  border: 4px solid #444;
  cursor: default;
}


.buildItem .sprite {
  margin: auto;
}
.buildItem span {
  display: block;
  color: #ddd;
  margin: auto;
  vertical-align: middle;
}

.buildItem.disabled span {
  color: #888;
}

.buildItem .name {
  font: 20px sans-serif;
}

.buildItem .price {
  font: 20px sans-serif;
  height: 22px;
}

.buildItem.disabled .price {
  color: #f88;
}

#gameStatistic {
  padding: 5px;
  width: 150px;
  margin: 0 auto;
}
.statisticBarChart {
  padding: 5px 0 5px 0;
}

.statisticBarChart .bar {
  display: inline-block;
}

.statisticBarChart .label {
  color: #ddd;
}

#spinner {
  position: absolute;
  top: 0;
  left: 190px;
  z-index: 10;
  opacity: 0.5;
  background-color: #eee;
  border-radius: 0 0 5px 0;
  display: none;
  padding: 3px;
}

h3 {
  padding: 4px;
  margin-bottom: 8px;
  font: 20px sans-serif;
}

.chart {
  padding: 8px;
}

#pageControls {
  /*background-color: #aaa;
  margin: 0;
  padding: 0;
  height: 24px;
  border-width: 1px;
  border-color: #ddd;
  border-style: solid none;*/
}

#pages {
  margin: 0;
  padding: 0;
}

.pageControl {
  width: 40px ;
}

.pageControl, .pageLink{
  border-radius: 4px;
  display: inline-block;
  color: #333 !important;
  background-color: #ddd;
  text-decoration: none;
  font-weight: bold;
  margin: 0 4px;
  padding: 0 8px;
  font: 18px sans-serif;
  border: 1px solid #ccc;
  text-align: center;
  vertical-align: middle;
}

.pageControl:hover, .pageLink:hover {
  color: #111 !important;
  background-color: #e8e8e8;
}

.pageControl:visited, .pageLink:visited {
  color: inherit;
}

.pageLink.current {
  background-color: #ddf !important;
}

.infoTable {
  border-collapse: collapse;
  margin-left: 16px;
  border: 3px solid #777;
  
}
.infoTable tr {
  margin: 0;  
  padding: 0;
}

.infoTable tbody tr:nth-child(even) {
  background-color: #e8e8e8;
}

.infoTable tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.infoTable tr {
  margin: 0;  
  padding: 0;
}

.infoTable td {
  border-collapse: collapse;
  border: 1px solid #222;
  text-align: center;
  padding: 2px 4px;  
}

.infoTable td:first-child {
  text-align: left;
}

.infoTable th {
  border-collapse: collapse;
  border: 1px solid #222;
  padding: 2px 4px;
}

.infoTable thead {
  border-bottom: 2px solid #888;
}

