[submodule "lib/gamenode"]
	path = lib/gamenode
	url = git://github.com/bzar/gamenode.git
[submodule "client/static/lib/d3"]
	path = client/static/lib/d3
	url = git://github.com/mbostock/d3.git
[submodule "client/static/lib/aja"]
	path = client/static/lib/aja
	url = git://github.com/bzar/aja.git
[submodule "client/static/lib/font-awesome"]
	path = client/static/lib/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
