body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}
#content {
  margin-top: 48px;
}
#menubar {
  height: 48px;
  background-color: #222;
  color: #eee;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  /*border-bottom: 5px solid #2c3;*/

  white-space: nowrap;
}
.menu-icon {
  font-size: 40px;
  padding: 4px;
}
.menu-text-container {
  display: inline-block;
}
.menu-text-container .row {
  display: block;
}
#menubar > .button,
.dropdown-menu {
  display: inline-block;
  height: 48px;
  width: 48px;
  background-color: rgba(102, 102, 102, 0.7);
  cursor: pointer;
  color: #ddd;
  text-align: center;
  text-decoration: none;
}
#menubar a.button [class^="icon-"],
#menubar a [class*=" icon-"] {
  display: inline;
}
#menubar .button:hover,
.dropdown-menu:hover {
  background-color: rgba(142, 142, 142, 0.7);
  color: #fff;
}
.dropdown-menu .label {
  color: #ddd;
}
.dropdown-menu .content {
  display: none;
  text-align: left;
  position: fixed;
  top: 48px;
  color: #111;
  background-color: #ccc;
  border: 1px solid #444;
  border-radius: 0 0 8px 0;
  list-style: none;
  padding: 0 0 8px 0;
  margin: 0;
  cursor: auto;
  max-width: 360px;
  white-space: normal;
}
@media (max-width: 480px) {
  .dropdown-menu .content {
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
  }
}
.dropdown-menu .content .menuitem {
  padding: 4px;
  white-space: nowrap;
}
.dropdown-menu .content .menuitem:hover {
  background-color: #ddd;
}
.dropdown-menu .content .menuitem a {
  text-decoration: none;
  color: #111;
  display: block;
  height: 100%;
}
.dropdown-menu .content .menuitem a:visited {
  color: #111;
}
h2 {
  color: #555;
  font: 32px sans-serif;
  margin: 0 0 20px 0;
  padding: 10px 0px 0px 20px;
}
.bigTable {
  width: 100%;
  border-collapse: collapse;
  font: 16px sans-serif;
  text-align: center;
}
.bigTable td a {
  text-decoration: none;
  display: block;
  padding: 8px;
  height: 100%;
  color: inherit;
}
.bigTable td a:visited {
  color: inherit;
}
.bigTable tbody tr:nth-child(even) {
  background-color: #ccc;
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
}
.bigTable tbody tr:nth-child(odd) {
  background-color: #ddd;
}
.bigTable thead tr {
  color: #222;
}
.bigTable tbody tr:hover {
  color: #444;
  background-color: #e8e8e8;
}
.filterInput {
  margin-right: 4em;
}
.actionButton {
  display: inline-block;
  font-family: sans-serif;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #888;
  background-image: linear-gradient(to bottom, #eeeeee, #cccccc);
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
.actionButton.small {
  padding: 4px;
  font-size: 12px;
}
.actionButton:hover {
  background-image: linear-gradient(to bottom, #efefef, #dddddd);
}
.actionButton.pressed {
  background-image: linear-gradient(to bottom, #dddddd, #efefef);
}
.inputFieldList {
  list-style: none;
  margin: 8px;
  padding: 0;
  font-family: sans-serif;
}
.inputFieldList li {
  margin: 4px 0;
}
.inputFieldList label {
  display: inline-block;
  width: 10em;
}
.smallInput {
  width: 50px !important;
}
.tinyInput {
  width: 25px !important;
}
