#palette .sprite {
  margin: 2px;
  cursor: pointer;
  display: inline-block;
}
#palette .sprite.selected {
  margin: 0px;
  border: 2px solid #ddf;
}
#mapEditorTools {
  text-align: center;
}
#playerSelection .selected {
  border: 2px solid #ddf;
}
#playerSelection .disabled {
  background-color: #333 !important;
  cursor: default;
}
.playerSelection,
.paletteSelection,
.button {
  background-color: #555;
  color: #eee;
  padding: 2px;
  display: inline-block;
  border: 1px solid #888;
  font: 16px sans-serif;
  cursor: pointer;
}
.button {
  min-width: 24px;
  height: 24px;
  display: inline-block;
  text-align: center;
}
#import,
#export {
  margin: 4px;
}
#importExportData {
  border: 1px solid #ccc;
  margin: auto;
  display: inline-block;
  background-color: #ddd;
}
.paletteSelection.selected,
.playerSelection.selected {
  border: 2px solid #ddf;
}
.playerSelection {
  min-width: 16px;
  height: 16px;
  text-shadow: #333 0 0 3px;
}
#playerSelection,
#paletteSelection {
  margin-bottom: 8px;
}
.paletteSelection {
  width: 60px;
}
#terrainPalette,
#unitPalette {
  padding: 4px 0;
}
#terrainTypePalette {
  margin-bottom: 16px;
}
#playerSelection {
  width: 100%;
}
#palette .sprite {
  margin: 2px;
  cursor: pointer;
}
#palette .sprite.selected {
  margin: 0px;
  border: 2px solid #334;
}
.toolForm {
  padding: 4px;
}
.toolForm ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.toolForm li {
  position: relative;
  min-height: 24px;
}
.toolForm .left {
  position: absolute;
  left: 0;
}
.toolForm .right {
  position: absolute;
  right: 0;
}
.toolForm input[type=text] {
  width: 50%;
  border: 1px solid #111;
  background-color: #ddd;
}
.smallInput {
  width: 50px !important;
}
.tinyInput {
  width: 25px !important;
}
.buttonTable {
  border-collapse: collapse;
  margin: auto;
  padding: 0;
}
.buttonTable tr {
  margin: 0;
  padding: 0;
}
.buttonTable td {
  margin: 0;
  padding: 0;
}
.buttonTable .button {
  width: 32px !important;
  height: 32px !important;
  font: 24px sans-serif;
  margin: 0;
  padding: 0;
  border: 1px solid #111;
}
.buttonTable .button:active {
  background-color: #eee;
}
#mapSaveForm {
  width: 200px;
}
